.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.section-search {
  width: 50vw;
  height: 10vh;
  margin-top: 0;
  color: darkmagenta;
  padding: 10px;
}

.favorite {
  background-color: darkmagenta;
  color: orange;
}
.js-input {
  color: green;
  background-color: orange;
}
.list-container {
  padding: 40px;
  background-color: gainsboro;
}
.search-btn {
  color: darkmagenta;
}

.list {
  background-color: orange;
}

.js-series {
  list-style: none;
}

.js-seriesTitle {
  color: green;
}

.js-favorite-list {
  padding: 20px;
}
